.icon-user .icon-header-noti::after{
    display: none;
}
@font-face {
    font-family: Poppis-Light;
    src: url('http://localhost/DUAN1/resources/assets/fonts/FzPoppins/FZ Poppins-Light.ttf') format('truetype');
}
@font-face {
    font-family: Poppins;
    src: url('http://localhost/DUAN1/resources/assets/fonts/FzPoppins/FZ Poppins-Medium.ttf') format('truetype');
}
@font-face {
    font-family: Poppins-Regular;
    src: url('http://localhost/DUAN1/resources/assets/fonts/FzPoppins/FZ Poppins-Regular.ttf') format('truetype');
}

@font-face {
    font-family: tets;
    src: url('http://localhost/DUAN1/resources/assets/fonts/FzPoppins/FZ Poppins-Medium.ttf') format('truetype');
}
@font-face {
    font-family: Popspismedium;
    src: url('http://localhost/DUAN1/resources/assets/fonts/FzPoppins/FZ Poppins-Medium.ttf') format('truetype');
}
@font-face {
    font-family: PopspisBold;
    src: url('http://localhost/DUAN1/resources/assets/fonts/FzPoppins/FZ Poppins-PopspisBold.ttf') format('truetype');
}
@font-face {
    font-family: extraloght;
    src: url('http://localhost/DUAN1/resources/assets/fonts/FzPoppins/FZ Poppins-ExtraLight.ttf') format('truetype');
}

@font-face {
    font-family: bold2;
    src: url('http://localhost/DUAN1/resources/assets/fonts/FzPoppins/FZ Poppins-SemiBold.ttf') format('truetype'),
}
@font-face {
    font-family: bold3;
    src: url('http://localhost/DUAN1/resources/assets/fonts/FzPoppins/FZ Poppins-ExtraBold.ttf') format('truetype');

}

@font-face {
    font-family: Poppis-Italic;
    src: url('http://localhost/DUAN1/resources/assets/fonts/FzPoppins/FZ Poppins-Italic.ttf') format('truetype');
}
@font-face {
    font-family: semibold;
    src: url('http://localhost/DUAN1/resources/assets/fonts/FzPoppins/FZ Poppins-SemiBold.ttf') format('truetype');
}
.swal-text{
    font-family: Poppins-Regular, sans-serif;
}
.left-top-bar{
    margin: auto;
    font-family: tets, sans-serif;
}
.rs1-select2 .select2-container .select2-selection--single .select2-selection__rendered{
    font-family: Poppins-Regular, sans-serif;
}
.stext-107{
    font-family: Popspismedium, sans-serif !important;

}
.stext-103{
    font-family: Poppins-Regular, sans-serif;
}
.stext-101{
    font-family: Poppins, sans-serif;
    margin-top: 30px;
    text-transform: capitalize;
}
.mtext-107{
    font-family: Poppins-Regular, sans-serif;
    font-size: 15px;
}
.ltext-103{
    font-family: bold3, sans-serif !important;
    
}
.wrap-search-header input{
    font-size: 34px;
    font-family: extraloght, sans-serif;
}
.rs1-select2 .select2-container .select2-results__option[aria-selected]{
	font-family: Poppins-Regular, sans-serif;
}
.stext-102{
    margin-top: -10px;
}
.mtext-107{
    font-family: Popspismedium, sans-serif;
    font-size: 15px;
}
.stext-105{
    font-family: Popspismedium, sans-serif;
}
.tab01 .nav-link {
    font-family: Popspismedium, sans-serif;
}
.stext-106{
    font-family: Popspismedium, sans-serif;
}
.mtext-104{
    background-color: white;
}
.table-shopping-cart .table_head th {
    font-family: Popspismedium, sans-serif;
    padding-top: 18px;
    padding-bottom: 15px;
}
.table-shopping-cart .column-5 {
    font-family: Popspismedium, sans-serif;
    font-size: 14px;
}
.table-shopping-cart .column-3 {
    font-family: Popspismedium, sans-serif;
    font-size: 14px;
}
.table-shopping-cart .table_row td {
    padding-bottom: 28px;
}
.mtext-109{
    font-family: bold2, sans-serif;

}
.stext-110 {
    font-family: Popspismedium, sans-serif;

}
.mtext-110 {
    color: rgb(255, 66, 66);
    margin-left: 20px;
    font-family: Popspismedium, sans-serif;
    font-size: 16px;
}
.stext-113{
    font-family: Poppis-Light, sans-serif;
}
.stext-114 {
    font-family: Poppis-Italic, sans-serif;

}
.stext-115{
    font-family: Poppins-Regular, sans-serif;
    font-size: 14px;
    line-height: 1.666667;
}
.size-105 {
    min-width: 126px;
    height: 40px;
}
.size-104 {
    min-width: 114px;
    height: 40px;
}
.mtext-103{
    font-family: bold3, sans-serif;
    font-size: 20px;
    
}
.mtext-102{
    font-family: semibold, sans-serif;

}
.stext-301{
    font-family: bold3, sans-serif;

}
.chuacotk{
    margin-top: 8px; 
    gap: 7px;
    color: black;
    font-family: Popspismedium, sans-serif;

}
.textdangnhap{
    color: black;
    font-family: Popspismedium, sans-serif;

}
.login-page .texta{
    text-decoration: underline;
    font-family: Popspismedium, sans-serif;

    
}
.mb-3{
    margin: auto; 
    width: 40%;
}
.login-page .button{
    text-align: center;
}
.btn-dark {
    background-color: #000000;
    border-color: #000000;
    width: 40%;
    height: 44px;
    font-family: Popspismedium, sans-serif;

}
.login-page{
    margin-top: 43px;
    margin-bottom: 70px;
}
.tkmk{
    font-size: 13px;
    color: black;
    font-family: Popspismedium, sans-serif;
}
.inputform{
    height: 44px;
    font-size: 13px;
    font-family: Popspismedium, sans-serif;


}
.quenmk{
    font-size: 13px;
    color: black;
    font-family: Popspismedium, sans-serif;
}
.quenmk:hover{
    color: black;
    text-decoration: underline;
}
.overlay-modal1{
    opacity: 0.2 !important;
}
