<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head> <table>
        <tr>
            <th>STT</th>
            <th>Ten san pham</th>
            <th>Hinh anh</th>
            <th>Don gia</th>
            <th>So luong</th>
            <th>Thanh tien</th>
            <th>Thao tac</th>
        </tr>
<body>
   
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>
</body>
</html>